<h1>Factions</h1>
<%= link_to "Playstyles", playstyles_path %><br>

<br>
<div class="factions">
	<% @factions.each do |faction| %>
		<span class="faction-name <%= faction.playstyles[0].title %> <%= faction.playstyles.last.title %>"><%= link_to faction.name, faction_path(faction) %></span>
	<% end %>
</div>