/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background: url("40kbattle3.jpg") no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	color: black;
	margin: -21px 0 0 0;
	padding: 0;
}

.factions{
	width: 400px;
	height: 400px;
}

.hidden {
	opacity: 0;
}

#content-wrapper {
	background-color: rgba(255,255,255,0.5);
	padding: 20px 0 20px 0;
	text-align: center;
	padding-bottom: 10%;

}

a { 
	color: #0F0F3D;
}

p {
	z-index: -1;
	opacity: 2.0;
}

p.title-text {
	text-align: center;
	padding-top: 3%;
	font-size: 125%;
	font-family: Impact;
}

p.descript-text {
	text-align: left;
	padding-top: 1%;
	margin-left: 134px;
    margin-right: 92px;
    font-size: 115%;
    line-height: 130%;
}

p.faction-name {
	font-size: 115%;
}

p.faction-descript {
	border: 2px solid #000000;
    border-radius: 13px;
    background: #F5E0CC; 
	text-align: left;
	padding: 1%;
	padding-top: 1%;
	margin-left: 140px;
    margin-right: 118px;
    font-size: 115%;
    line-height: 150%;
}

p.playstyle-descript {
	border: 2px solid #000000;
    border-radius: 13px;
    background: #F5E0CC;
	text-align: left;
	padding: 1%;
	padding-top: 1%;
	margin-left: 151px;
    margin-right: 141px;
    font-size: 115%;
    line-height: 209%;
 }


p.choose-play {
	text-align: center;
	padding-top: 5%;
	margin-left: 108px;
    margin-right: 92px;
    font-size: 169%;
}

.banner {
	width: 79%;
	margin-left: 90px;
	border: none;
}

h1 {
	padding-top: 3%;
	font-family: Nemesis Enforcer Expanded;
	font-size: 225%;
}

h2 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 300%;
	margin-left: 10%;
}

h3 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 339%;
	margin: 0 0 0 -3px;
	padding-top: 7%;
}

h4 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 339%;
	margin: 0 0 0 -3px;
	padding-top: 5%;
}

h5 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 489%;
	margin-left: 133px;
	padding-top: 3%;
}

div.playstyle-text {
	width: 80%;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 2%;
}

div.fact-img {
	margin: 0 auto;
	max-width: 250px;
	padding-bottom: 33px;
}

div.play-img {
	margin: 0 auto;
	max-width: 250px;
	padding-bottom: 33px;
}

div.checkers {
	width: 69%;
    border: 2px solid #000000;
    border-radius: 13px;
    background: #F5E0CC;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 202px;
    line-height: 626%;
    font-size: 131%;
    -moz-column-count: 0;
    -moz-column-gap: 20px;
    -webkit-column-count: 0;
    -webkit-column-gap: 0px;
    column-count: 0;
    column-gap: 20px;
}

img { 
	width: 100%;
	border: 2px solid #000000;
	border-radius: 13px;
}

ul.playbox {
	list-style-type: none;
	width:50%;
    border: 2px solid #000000;
    border-radius: 13px;
    background: #F5E0CC;
    margin-left: 313px;
    line-height: 260%;
    font-size:125%;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

ul.facbox {
	list-style-type: none;
	width:50%;
    border: 2px solid #000000;
    border-radius: 13px;
    background: #F5E0CC;
    margin-left: 313px;
    line-height: 280%;
    font-size:125%;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

button {
	margin-top: 115px;
	margin-left: 34px;
	font-size: 187%;
}

nav.armydeter {
	padding-top: 51px;
	font-size: 221%;
}

div.backbutt {
	margin-left: -1px;
	font-size: 175%;
	padding-top: 58px;
}

div.filt {
	font-size: 86%;
	padding-bottom: 43px;
}

ul.buttclass {
	list-style-type: none;
	width:79%;
    border: 2px solid #000000;
    border-radius: 13px;
    background: #F5E0CC;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 138px;
    font-size: 129%;
    line-height: 352%;
    padding: 45px;
    padding-top: 46px;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
}

footer {
	text-align: left;
	margin-top: 270px;
	margin-bottom: -99px;
}

.signup {
	min-height: 450px;
}

.login {
	min-height: 450px;
}

.forgotpass {
	min-height: 485px;
}

.welcomep {
	min-height: 400px;
}

.field {
	font-size: 120%;
	margin-top: 25px;
	margin-bottom: 30px;
}

.actions {
	font-size: 150%;
}

#faction-select {
	border: 2px solid #000000;
    border-radius: 13px;
    margin-top: 10px;
    background-color: #CCCCCC;
}
#faction-select:first-child {
	margin-top: 0;
}

.comment {
	font-size: 166%;
}