/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background: url("40kbattle3.jpg") no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	color: black;
	margin: -21px 0 0 0;
	padding: 0;
}

.factions{
	width: 400px;
	height: 400px;
}

.hidden {
	opacity: 0;
}

#content-wrapper {
	background-color: rgba(255,255,255,0.5);
	padding: 20px 0 20px 0;
	text-align: center;
	padding-bottom: 10%;

}

p {
	z-index: -1;
	opacity: 2.0;
}

p.title-text {
	text-align: center;
	padding-top: 3%;
	font-size: 125%;
	font-family: Impact;
}

p.descript-text {
	text-align: left;
	padding-top: 1%;
	margin-left: 134px;
    margin-right: 92px;
    font-size: 115%;
    line-height: 130%;
}

p.faction-name {
	font-size: 115%;
}

p.faction-descript {
	text-align: left;
	padding-top: 1%;
	margin-left: 170px;
    margin-right: 92px;
    font-size: 115%;
    line-height: 150%;
}

p.playstyle-descript {
	text-align: left;
	padding-top: 1%;
	margin-left: 170px;
    margin-right: 92px;
    font-size: 115%;
    line-height: 150%;
}

p.choose-play {
	text-align: left;
	padding-top: 5%;
	margin-left: 435px;
    margin-right: 92px;
    font-size: 115%;
}

header {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 500%;
	padding-top: 3%;
}

h1 {
	padding-top: 3%;
	font-family: Nemesis Enforcer Expanded;
	font-size: 225%;
}

h2 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 300%;
}

h3 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 250%;
	margin: 0 0 0 -3px;
	padding-top: 7%;
}

h4 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 250%;
	margin: 0 0 0 -3px;
	padding-top: 5%;
}

h5 {
	text-align: center;
	font-family: Nemesis Enforcer Expanded;
	font-size: 357%;
	margin: 0 0 0 -3px;
	padding-top: 3%;
}

div.playstyle-text {
	width: 80%;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 2%;
}

div.fact-img {
	margin: 0 auto;
	max-width: 250px;
}

div.play-img {
	margin: 0 auto;
	max-width: 250px;
}

div.checkers{
	width: 69%;
    border: 1px solid #000000;
    background: #C2C2D6;
    margin-left: 189px;
    line-height: 626%;
    padding-top: -2%;
    font-size: 125%;
    -moz-column-count: 0;
    -moz-column-gap: 20px;
    -webkit-column-count: 0;
    -webkit-column-gap: 0px;
    column-count: 0;
    column-gap: 20px;
}

img { width: 100%; }

ul.playbox{
	list-style-type: none;
	width:50%;
    border:1px solid #000000;
    background: #C2C2D6;
    margin-left: 266px;
    line-height: 200%;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

ul.facbox{
	list-style-type: none;
	width:50%;
    border:1px solid #000000;
    background: #C2C2D6;
    margin-left: 266px;
    line-height: 200%;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

button {
	margin-top: 115px;
	margin-left: 34px;
	font-size: 187%;
}

nav.armydeter {
	padding-top: 51px;
	font-size: 164%;
}